/* DESIGN SYSTEM START */
:root {
  --dark-blue-5: #091b6f;
  --dark-blue-4: #0d28a6;
  --dark-blue-3: #5e70c4;
  --dark-blue-1: #aeb7e1;
  --lime-green-5: #3d7b3f;
  --lime-green-4: #5cb85f;
  --lime-green-3: #92d094;
  --lime-green-2: #c9e7ca;
  --lime-green-1: #def1df;
  --neutral-5: #151515;
  --neutral-4: #3c3c3c;
  --neutral-3: #8a8a8a;
  --neutral-2: #d0d0d0;
  --neutral-1: #ffffff;
  --alert-danger: #fa2c5a;
  --alert-warning: #f9cc00;
  --alert-success: #73ca5c;
  --text-body-10: 1rem;
  --text-body-12: 1.2rem;
  --text-body-14: 1.4rem;
  --text-body-16: 1.6rem;
  --text-body-18: 1.8rem;
  --text-body-20: 2rem;
  --text-body-24: 2.4rem;
  --shadow-low: 0px 0px 4px 0px #00000026;
  --shadow-high: 0px 0px 10px 0px #00000026;
}
/* DESIGN SYSTEM END */

/* CSS RESET START */
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* CSS RESET END */

/* Container Margin */
#main,
#services,
#why-us,
#testimonial,
#getting-started,
#faq,
footer {
  margin-bottom: 7rem !important;
}

/* Custom Button */
.btn.btn-custom {
  background-color: #5cb85f;
  color: white;
}

.getting-started .btn.btn-custom {
  width: 50%;
}

@media (min-width: 992px) {
  .getting-started .btn.btn-custom {
    width: 25%;
  }
}

.offcanvas.offcanvas-end.offcanvas-width {
  width: 250px;
}

.icon {
  width: 36px;
  height: 36px;
}

.bg-gray {
  background-color: #f1f3ff;
}

/* MAIN START */
@media (min-width: 992px) {
  .main {
    height: 30vw;
  }
}
/* MAIN END */

/* SERVICES START */
.services__img {
  object-position: -20px;
}

@media (min-width: 768px) {
  .services__img {
    object-position: 0;
  }
}
/* SERVICES END */

/* Testimonial Start */
@media (min-width: 992px) {
  .testimonial {
    width: 60%;
    margin: 0 auto;
  }
}

.testimonial__card {
  background-color: #f1f3ff;
  padding: 5rem;
  height: 50%;
}

@media (min-width: 768px) {
  .testimonial__card {
    align-items: flex-start;
  }

  .testimonial__card .star-rate {
    width: 120px;
    height: 25px;
    align-self: flex-start;
  }
}

.testimonial__card__img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.star-rate {
  width: 140px;
  height: 30px;
  align-self: center;
}

/* Testimonial End */

/* GETTING STARTED START */
@media (min-width: 768px) {
  .getting-started {
    width: 60%;
  }
}
/* GETTING STARTED END */

/* FAQ START */
@media (min-width: 768px) {
  .faq-body .accordion {
    width: 75%;
    margin: 0 auto;
  }
}
/* FAQ END */

/* FOOTER START */
.footer .footer__icon {
  width: 24px;
  height: 24px;
}
/* FOOTER END */
